/* webfonts */

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url(fonts/SFProDisplay-Light.ttf);
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url(fonts/SFProDisplay-Medium.ttf);
}
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url(fonts/SFProDisplay-Regular.ttf);
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url(fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 100;
  src: url(fonts/AppleSDGothicNeoH.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  src: url(fonts/AppleSDGothicNeoUL.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 300;
  src: url(fonts/AppleSDGothicNeoL.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
  src: url(fonts/AppleSDGothicNeoR.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 500;
  src: url(fonts/AppleSDGothicNeoM.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 600;
  src: url(fonts/AppleSDGothicNeoSB.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 700;
  src: url(fonts/AppleSDGothicNeoB.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 800;
  src: url(fonts/AppleSDGothicNeoEB.ttf);
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 900;
  src: url(fonts/AppleSDGothicNeoH.ttf);
}
