/* container */
.container {
  width: 1000px;
  margin: 0 auto;
}

/*row 모바일에서 양 옆 여백 설정하는 부분!!!!!!!!!!!!*/
.row {
  position: relative;
  margin: 0 20px;
}
body {
  padding-top: 110px;
  /* 생략 */
}

/* header */
#header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  background: rgba(245, 245, 245, 0.7);
  z-index: 1;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-bottom: 1px solid #cfcfcf;
  /*우와!! 아이폰 특유 블러 그라데이션 효과,, z-index까지.. 그냥 opacity 속성으로 주면 자식요소들까지 적용됨,,*/
}

#header .header-data {
  font-weight: 600;
  font-size: 12px;
  padding-top: 10px;
  display: block;
  color: #a8a8a8;
  z-index: 2;
}
#header .header-title {
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  font-size: 32px;
  padding-top: 15px;
  padding-bottom: 10px;
  z-index: 2;
}
#header .header-id {
  position: absolute;
  right: 0;
  bottom: 12px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#a4a9b5, #c4c4c4);
  border-radius: 50%;
  font-size: 18px;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 2;
}

/* bestM */
.bestM .best-title .bt-stit {
  color: #da537c;
  font-size: 12px;
  line-height: 1.67;
}
.bestM .best-title .bt-tit {
  font-size: 22px;
  padding-bottom: 5px;
}
.bestM .best-title .bt-desc {
  font-size: 22px;
  font-weight: 300;
  color: #818181;
  margin-bottom: 10px;
}

/* recentM */
.recentM {
  padding-top: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.recentM .recent {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.recentM .recent:last-child {
  margin-right: 0;
}
.recentM h2 {
  font-size: 20px;
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.recentM .recent-title .rt-stit {
  font-size: 15px;
  line-height: 1.67;
  font-weight: 600;
}
.recentM .recent-title .rt-tit {
  font-size: 15px;
  font-weight: 300;
  color: #908f94;
}

/*nextM*/
.nextM h2 {
  font-size: 20px;
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.nextM .next {
  display: flex;
  margin-bottom: 16px;
  position: relative;
}
.nextM .next:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  height: 1px;
  background: #ebebeb;
  width: calc(100% - 114px);
}
.nextM .next .next-img {
  width: 102px;
  margin-right: 12px;
}
.nextM .next .next-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nextM .next .next-tit .nt-stit {
  color: #da5e7c;
  font-size: 12px;
}
.nextM .next .next-tit .nt-tit {
  font-size: 16px;
}
.nextM .next .next-tit .nt-desc {
  font-size: 13px;
  color: #a1a1a3;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*footer*/
.play-now {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.play-now .pn-img {
  width: 48px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.play-now .pn-tit {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}
.play-now .pn-remote {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.play-now .pn-remote .play-pause {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 9.13398C17.1667 9.51888 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833335 19.9112 9.70611e-07 19.4301 1.00426e-06 18.6603L1.76136e-06 1.33975C1.79501e-06 0.569945 0.833336 0.0888202 1.5 0.47372L16.5 9.13398Z' fill='black'/%3E%3C/svg%3E ");
  width: 17px;
  height: 20px;
}
.play-now .pn-remote .next-song {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='24' viewBox='0 0 36 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 11.134C23.1667 11.5189 23.1667 12.4811 22.5 12.866L7.5 21.5263C6.83333 21.9112 6 21.4301 6 20.6603L6 3.33975C6 2.56995 6.83334 2.08882 7.5 2.47372L22.5 11.134Z' fill='black'/%3E%3Cpath d='M34.5 11.134C35.1667 11.5189 35.1667 12.4811 34.5 12.866L19.5 21.5263C18.8333 21.9112 18 21.4301 18 20.6603L18 3.33975C18 2.56995 18.8333 2.08882 19.5 2.47372L34.5 11.134Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 36px;
  height: 24px;
}

/* mediaquery */
@media (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
/* 1020보다 작을때(핸드폰크기)는 그냥 row의 여백을 따른다.
1020보다 클때(컴퓨터)에서는 최대 1000으로 쓰는거야 (맨위 .container)*/
