/* container */
.container {
  width: 1000px;
  margin: 0 auto;
}

/*row 모바일에서 양 옆 여백 설정하는 부분!!!!!!!!!!!!*/
.row {
  position: relative;
  margin: 0 20px;
}
body {
  padding-top: 110px;
  /* 생략 */
}
/* header */
#header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  backdrop-filter: blur(25px);
  border-bottom: 1px solid #cfcfcf;
  /*우와!! 아이폰 특유 블러 그라데이션 효과,, z-index까지.. 그냥 opacity 속성으로 주면 자식요소들까지 적용됨,,*/
}
#header .header-data {
  font-weight: 600;
  font-size: 12px;
  padding-top: 10px;
  display: block;
  color: #a8a8a8;
  z-index: 2;
}
#header .header-title {
  font-family: AppleSDGothicNeo;
  font-weight: 600;
  font-size: 32px;
  padding-top: 15px;
  padding-bottom: 10px;
  z-index: 2;
}
#header .header-id {
  position: absolute;
  right: 0;
  bottom: 12px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#a4a9b5, #c4c4c4);
  border-radius: 50%;
  font-size: 18px;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 2;
}

/* bestM */
.bestM .best-title .bt-stit {
  color: #da537c;
  font-size: 12px;
  line-height: 1.67;
}
.bestM .best-title .bt-tit {
  font-size: 22px;
  padding-bottom: 5px;
}
.bestM .best-title .bt-desc {
  font-size: 22px;
  font-weight: 300;
  color: #818181;
  margin-bottom: 10px;
}

/* recentM */
.recentM {
  padding-top: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.recentM .recent {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.recentM .recent:last-child {
  margin-right: 0;
}
.recentM h2 {
  font-size: 20px;
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.recentM .recent-title .rt-stit {
  font-size: 15px;
  line-height: 1.67;
  font-weight: 600;
}
.recentM .recent-title .rt-tit {
  font-size: 15px;
  font-weight: 300;
  color: #908f94;
}

/*nextM*/
.nextM {
}
.nextM h2 {
  font-size: 20px;
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.nextM .next {
  display: flex;
  margin-bottom: 16px;
  position: relative;
}
.nextM .next:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  height: 1px;
  background: #ebebeb;
  width: calc(100% - 114px);
}
.nextM .next .next-img {
  width: 102px;
  margin-right: 12px;
}
.nextM .next .next-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nextM .next .next-tit .nt-stit {
  color: #da5e7c;
  font-size: 12px;
}
.nextM .next .next-tit .nt-tit {
  font-size: 16px;
}
.nextM .next .next-tit .nt-desc {
  font-size: 13px;
  color: #a1a1a3;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* mediaquery */
@media (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
/* 1020보다 작을때(핸드폰크기)는 그냥 row의 여백을 따른다.
1020보다 클때(컴퓨터)에서는 최대 1000으로 쓰는거야 (맨위 .container)*/
